* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:  Verdana, sans-serif;
    color: #FAEB92;
    background-image: url('https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?semt=ais_hybrid&w=740&q=80');
    background-color: #1b262c; 
    background-size:cover; 
}
.navbar {
    background-color:#004d40;
    padding: 10px;
    text-align: right;
    border-bottom: 3px solid #d4af37;
}
.navbar li {
    display: inline-block;
    margin-left: 20px;
}

.navbar a {
    text-decoration:none;
    color: #fff;
    font-weight: bold;
}
.navbar a:hover {
    color: #3282b8;
}
.container {
    width: 100%;      
    margin: none auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border:none;
}

.title {
    text-align: center;
    font-size: 40px;
    color: #FE7F2D;
}
h2 {
    color: #FE7F2D; 
    margin-bottom: 15px;
}
p {
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 18px;
}
.mypic {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
.mypic {
    border: 4px solid #d4af37;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.hobby-pic1 {
    border: 4px solid #d4af37 ;
    width: 250px;
    height: 180px;
    object-fit: cover;
}
.hobby-pic-left{
    border: 4px solid #d4af37;
    width:200px;
    height: 200px;
    object-fit:cover;
    margin-right:30px;
    margin-bottom:30px;
}
.hobby-list li {
    margin-bottom: 30px;
    font-size: 18px;
    list-style-type: disc;
}
.clear {
    clear: both;
}